body {
    overflow-x: hidden;
}

.landing-text {
    height: 800px;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#home {
    background-image: url("astronaut.jpeg");
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about {
    /*background-color: #2D2F39;*/
    background-image: url(smile_about.gif);
    display: table;
    height: 810px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skills {
    background-image: url(skills1.jpg);
    display: table;
    height: 850px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#projects {
    background-image: url(projects1.gif); 
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#interests {
    background-image: url(interest1.webp);
    display: table;
    height: 850px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#activities {
    background-image: url(activities1.gif);
    display: table;
    height: 800px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact {
    background: #FCF5E5;
    display: table;
    height: 600px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centerdiv {
    height: 30vh;
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 75px);
    grid-template-rows: repeat(2, 75px);
}

i {
    height: 110px;
    width: 110px;
    border-radius: 40px;
    text-align: center;
    margin: 10px;
    position: relative;
    left:-25px;
    box-shadow: 1px 4px 2px 2px;
    line-height: 110px;
    transition: all 0.3s linear;
}

.fa-instagram {
    color: #e84393;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6;
}

.fa-github {
    color: black;
}




