@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

body{
    overflow-x: hidden;
    max-width: 100%;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.landing-text {
    height: 800px;
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#home {
    background-image: url("astronaut.jpeg");
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about {
    /*background-color: #2D2F39;*/
    background-image: url(smile_about.gif);
    font-family: 'IBM Plex Sans', sans-serif;
    display: table;
    height: 810px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#skills {
    background-image: url(skills_animated.png);
    display: table;
    height: 850px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#projects {
    background-image: url(projects1.gif); 
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#interests {
    background-image: url(interest1.webp);
    display: table;
    height: 850px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#activities {
    background-image: url(activities1.gif);
    display: table;
    height: 800px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact {
    background: #FCF5E5;
    display: table;
    height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centerdiv {
    height: 33vh;
    display: grid;
    grid-column-gap: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 69px);
    grid-template-rows: repeat(2, 125px);
    overflow: hidden;
    max-width: 100%;
}

i {
    height: 100px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 6px 2px 2px;
    line-height: 110px;
    transition: all 0.3s linear;
    position: relative;
    left: -30px;
}

.fa-instagram {
    color: #e84393;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6;
}

.fa-github {
    color: black;
}




